button{
    background-color: aqua;
    width: 300px;
    height: 20px;
    border: 1px solid blue;
    padding-left: 3em;
    margin-top: 2em;
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    background-color: aquamarine;
}